// body {
//   font-family: 'Montserrat, sans-serif';
// }


.section-about {
  h1 {
    margin: 1em 0;
  }

  b {
    margin: 0.5em 0;
  }

  margin: 5em 0;
  display: grid;
  text-align: center;
}


.slider-product-section {
  width: 100%;
  margin: auto;

  .slick-slider {
    .slick-list {
      .slick-track {

        .slick-slide {
          .card {
            width: 96%;
            margin: auto;
          }

          .slick-prev,
          .slick-next {
            &:before {
              color: gray;
            }
          }
        }
      }
    }

  }
}

.button-loadmore {
  width: fit-content;
  margin: 3em;
  padding: 0.5em 2em;
  border-radius: 6px;
  border-color: lightgray;
}

.sidebar {
  .filter-type-content {
    display: flex;
    flex-wrap: wrap;

    .filter-item {
      flex: 0 0 50%;
      padding: 10px;

      label {
        margin-left: 0.5em;

        .color-sample {
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-right: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        .red {
          background-color: red;
        }

        .yellow {
          background-color: yellow;
        }

        .blue {
          background-color: blue;
        }

        .black {
          background-color: black;
        }

        .white {
          background-color: white;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}